body {
    margin: 0;
    font-size: 14px
}

.header {
    height: '80px';
    background: "#23252B";
    padding: '0 20px'
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(35, 37, 43);
    color: #fff;
    font-size: 0.8rem
}

.ant-layout-footer{padding: 3px 0}