<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width =device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone =no" name="format-detection" />
    <script src="../client/static/output/js/viewPanel.bundle.js"></script>
    <title>viewPanel</title>
    <style>
        body { margin: 0;background:#000}
    </style>
</head>
<body>
    <div id="canvas">
        <img src="../client/static/img/ajax-loader.gif" />
    </div>
    <div id="LANDSCAPE" style="position:fixed;width:100%;height:100%;left:0;top:0;text-align:center;background:#000;display:none">
        
    </div>
</body>
</html>